<header class="bg-neutral-foreground p-3 w-full flex gap-2">
  <div class="bg-primary-blue" style="width: .3rem;"></div>
  <div class="flex flex-column bg-neutral-background flex-1 color-primary-blue py-2 px-3 gap-2">
    <h3 class="text-heading-3-semibold">{{ title() }}</h3>
    @if (description(); as description) {
    <p class="text-subtitle-2">{{ description }}</p>
    }
  </div>
</header>

<div [class]="'standard-page-content ' + styleClassBody()">
  @if (loadingPage()) {
  <guep-loading-screen [textLoading]="textLoadingPage()" />
  }
  <ng-content />
</div>