.color-neutral-high {
  color: var(--neutral-high);
}
.color-neutral-medium {
  color: var(--neutral-medium);
}

.color-primary-blue {
  color: var(--primary-blue);
}

.bg-primary-blue {
  background-color: var(--primary-blue);
}

.bg-neutral-foreground {
  background-color: var(--neutral-foreground);
}

.bg-neutral-background {
  background-color: var(--neutral-background);
}
