:root {
  --neutral-high: #212121;
  --neutral-medium: #505050;
  --neutral-medium-2: #353535;
  --neutral-border: #e0e0e0;
  --neutral-background: #ffffff;
  --neutral-foreground: #f4f4f4;
  --new-border-table: #e0e0e0;
  --header-table: #f9f9f9;
  --neutral-hover: #ebebeb;
  --primary-blue: #001b52;
  --accent-error: #d60000;
  --border-color-gray: #a8a8a8;
  --primary-orange: #f18820;
  --switch-color: #34c759;

  --focus-input: #147af3;
  --color-1964F6: #1964f6;
  --hover-line: #eaf4ff;
  --1c1f4e: #1c1f4e;
  --a8a8a8: #a8a8a8;
}
