<guep-standard-page title="Master Component" description="Lorem ipsum dolor seet">

  <div [formGroup]="model" class="w-full flex flex-wrap gap-3 p-5">
    <guep-input placeHolderText="input" label="Campo de texto" inputId="input" formControlName="input" />

    <guep-input-mask label="Campo Mask" inputId="inputMask" formControlName="inputMask" maskInput="0000-00"
      placeHolderText="0000-00" />

    <guep-input-mask label="CNPJ" inputId="cnpj" formControlName="cnpj" [maskInput]="cnpjMask()"
      [placeHolderText]="cnpjMask()" />

    <guep-input placeHolderText="email" label="E-mail" inputId="email" formControlName="email" />
  </div>

  <div class="w-full px-5 flex gap-3">
    <button (click)="onSubmit()" guepButton>Submit</button>
    <button (click)="showDialog()" guepButton template="outlined">Show dialog</button>
  </div>
  <hr class="w-full" />

  <div class="flex flex-column gap-3 p-5">
    <div class="flex gap-2">
      <button guepButton>Button Primary</button>
      <button guepButton template="outlined">Button outlined</button>
      <button guepButton template="text">Button text</button>
    </div>

    <div class="flex gap-2">
      <button guepButton severity="secondary">Button Primary</button>
      <button guepButton template="outlined" severity="secondary">
        Button outlined
      </button>
      <button guepButton template="text" severity="secondary">Button text</button>
    </div>

    <div class="flex gap-2">
      <button guepButton severity="danger">Button Primary</button>
      <button guepButton template="outlined" severity="danger">
        Button outlined
      </button>
      <button guepButton template="text" severity="danger">Button text</button>
    </div>

    <div class="flex gap-2">
      <button guepButton severity="help">Button Primary</button>
      <button guepButton template="outlined" severity="help">
        Button outlined
      </button>
      <button guepButton template="text" severity="help">Button text</button>
    </div>

    <div class="flex gap-2">
      <button guepButton severity="info">Button Primary</button>
      <button guepButton template="outlined" severity="info">
        Button outlined
      </button>
      <button guepButton template="text" severity="info">Button text</button>
    </div>

    <div class="flex gap-2">
      <button guepButton severity="success">Button Primary</button>
      <button guepButton template="outlined" severity="success">
        Button outlined
      </button>
      <button guepButton template="text" severity="success">Button text</button>
    </div>

    <div class="flex gap-2">
      <button guepButton severity="warning">Button Primary</button>
      <button guepButton template="outlined" severity="warning">
        Button outlined
      </button>
      <button guepButton template="text" severity="warning">Button text</button>
    </div>

    <div class="flex gap-2">
      <button guepButton disabled>Button Primary</button>
      <button guepButton template="outlined" [loading]="true">
        Button outlined
      </button>
      <button guepButton template="text" disabled>Button text</button>
    </div>
  </div>
</guep-standard-page>