<div class="sidebar-menu-container" [ngClass]="{ 'close-sidebar': !openMenu() }">
  <div class="header-sidebar-menu">
    @if (openMenu()) {
    <h5 class="header-menu" @toggleMenuInternal>Menu</h5>
    }
    <div class="button-menu" (click)="clickToggleMenu()">
      <i class="material-symbols-rounded" [pTooltip]="tooltipMenuText()">menu</i>
    </div>
  </div>

  <hr class="hr-sidebar-menu-screen" />

  <div class="list-sidebar-menu">
    <ul>
      @for (menu of menuList(); track $index) {
      <li>
        <a [routerLink]="menu.routerLink" class="button-menu" routerLinkActive="active-menu"
          [pTooltip]="openMenu() ? '' : menu.label" [ngClass]="{ disable: menu.disable }"
          [tooltipDisabled]="!!menu.disable">
          <i class="material-symbols-rounded">{{ menu.iconClass }}</i>
          @if (openMenu()) {
          <p @toggleMenuInternal>{{ menu.label }}</p>
          }
        </a>
      </li>
      }
    </ul>
  </div>
</div>